.student-page {
  padding: 20px;
  background-color: #0c0d0d;
  min-height: 100vh;
}

.student-page h2 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.student-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
